
footer {
    padding-block: 2rem;
    border-top: 2px solid $light-red;
    .light {
      margin-block: 1rem;
    }
    .footer-grid {
      display: grid;
      gap: 1rem;
      h3 {
        font-size: 0.8rem;
        color: $darker-grey;
      }
      .logo {
        color: $light-red;
        font-size: 1rem;
      }
      .grid {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-items: center;
        margin-top: 1rem;
        margin-top: 0.5rem;
        padding: 0;
        padding-inline: 2rem;
        p {
          padding: 0.5rem;
          cursor: pointer;
          font-size: 0.8rem;
          color: $darker-grey;
        }
  
        a {
          text-decoration: none;
          color: #999999;
        }
      }
  
      .grid-2 {
        .title {
          font-weight: bold;
        }
        display: grid;
        justify-content: center;
        width: 100%;
        gap: 1rem;
      }
    }
  }
  
  


@media only screen and (min-width: 768px) {
    footer {
      .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
  
        .grid,
        .grid-2,
        .grid-3 {
          display: grid;
          justify-items: center;
          align-content: start;
          padding: 0;
          h3 {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }