@import "../variables/variables";

.btn {
  border: none;
  color: white;
  font-family: Montserrat;
  font-size: 0.8rem;
  padding-inline: 47px;
  padding-block: 9.3px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.login {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  &:hover {
    color: $light-red;
  }
}

.signup {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: white;
  border: 2px solid;
  &:hover {
    background: white;
    color: $darker-grey;
  }
}

.search-partners {
  padding-block: 0.8rem;
  margin-top: 0.8rem;
  max-width: max-content;
  padding-inline: 5rem;
  display: flex;
  justify-self: center;
  width: 100%;
  &:hover {
    background-color: $yellowish-orange;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
}

.btn-light-red {
  background-color: $light-red;
  &:hover {
    background-color: white;
    color: $light-red;
  }
}
