.btn {
  border: none;
  color: white;
  font-family: Montserrat;
  font-size: 0.8rem;
  padding-inline: 47px;
  padding-block: 9.3px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.login {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
}

.signup {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: white;
  border: 2px solid;
}

.search-patterns {
  padding-block: 0.8rem;
  margin-top: 0.8rem;
  max-width: max-content;
  padding-inline: 5rem;
  display: flex;
  justify-self: center;
  width: 100%;
}
