@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
body,
html {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Montserrat";
  size: 3.2rem;
  text-align: center;
}

h2 {
  margin: 0;
  font-family: "Roboto";
  size: 1.5rem;
  text-align: center;
}

h3 {
  margin: 0;
  font-family: "Montserrat";
  size: 1.4rem;
  text-align: center;
}

p {
  margin: 0;
  font-family: "Roboto";
  size: 1.2rem;
  text-align: center;
}

.btn {
  border: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 0.8rem;
  padding-inline: 47px;
  padding-block: 9.3px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.light-red {
  background: #ff4e50;
}

.login {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
}

.signup {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: #ffffff;
  border: 2px solid;
}

.banner {
  background-image: url("/assets/images/backgroundBitmap.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-white {
  color: #ffffff;
}

.text-brownish-grey {
  color: #666666;
}

.center {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.mt-15 {
  margin-top: 1rem;
}

.text-light-red {
  color: #ff4e50;
}

.light {
  font-weight: 300;
}

.user-buttons {
  position: absolute;
  margin-top: 1.2rem;
}

.bg-white {
  color: #ffffff;
  padding-block: 2rem;
}

.text-gray {
  color: #444444;
}

.image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.image-grid .step {
  margin: 0;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18.75rem;
  height: 15rem;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.56s ease-in-out;
  transition: -webkit-box-shadow 0.56s ease-in-out;
  transition: box-shadow 0.56s ease-in-out;
  transition: box-shadow 0.56s ease-in-out, -webkit-box-shadow 0.56s ease-in-out;
}

.image-grid .step:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.image-grid .step .step_image {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-grid .step .step_text {
  position: absolute;
  padding-inline: 1.2rem;
  display: -ms-grid;
  display: grid;
  gap: 0.8rem;
}

.image-grid .step .step_text h3,
.image-grid .step .step_text p {
  text-align: start;
}

.step-pill {
  background-color: #ff4e50;
  padding-inline: 0.8rem;
  padding-block: 0.2rem;
  border-radius: 2.5rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: "Montserrat";
}

.partners-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.partners-grid .partner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6rem;
  margin-inline: 0.5rem;
  padding: 1rem;
}

.partners-grid .partner img {
  margin: auto;
}

.partners-grid .partner h3 {
  color: #444444;
}

.partners-grid .partner p {
  color: #444444;
}

.btn-patterns {
  color: #ff4e50;
  background-color: transparent;
  border: 2px solid;
  width: 100%;
  margin-top: 2.8rem;
  text-align: start;
  padding-left: 1.4rem;
}

.partners {
  padding-inline: 0.7rem;
}

.activities-grid {
  display: -ms-grid;
  display: grid;
  padding-inline: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activities-grid .activity {
  margin: 0;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18.75rem;
  height: 7.5rem;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.56s ease-in-out;
  transition: -webkit-box-shadow 0.56s ease-in-out;
  transition: box-shadow 0.56s ease-in-out;
  transition: box-shadow 0.56s ease-in-out, -webkit-box-shadow 0.56s ease-in-out;
}

.activities-grid .activity:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.activities-grid .activity img {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 40%;
     object-position: 100% 40%;
}

.activities-grid .activity .couple {
  -o-object-position: 100% 0;
     object-position: 100% 0;
}

.activities-grid .activity .activity-text {
  position: absolute;
  padding-inline: 1.2rem;
  display: -ms-grid;
  display: grid;
  gap: 0.8rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  padding: 3rem;
}

.interest-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  border: 1px solid #d4d4d4;
  border-radius: 0.2rem;
  padding-block: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 8rem;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #999999;
  margin-top: 1rem;
}

.search-patterns {
  padding-block: 0.8rem;
  margin-top: 0.8rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-inline: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

footer {
  padding-block: 2rem;
  border-top: 2px solid #ff4e50;
}

footer .light {
  margin-block: 1rem;
}

footer .footer-grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

footer .footer-grid h3 {
  font-size: 0.8rem;
}

footer .footer-grid .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-top: 0.5rem;
  padding: 0;
  padding-inline: 2rem;
}

footer .footer-grid .grid p {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}

footer .footer-grid .grid a {
  text-decoration: none;
  color: #999999;
}

footer .footer-grid .grid-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 1rem;
}

footer .footer-grid .grid-2 .title {
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */