@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
@import "./sections/_banner.scss", "./text/_headings.scss",
  "./components/_buttons.scss";

$light-red: #ff4e50;
$darker-grey: #444444;
$aqua: #19d4ca;
$yellowish-orange: #ffa710;
$cornflower: #667df3;
$brownish-grey: #666666;
$verylight-grey: #f7f3f2;
$verylight-pink: #e3e3e3;

body,
html {
  height: 100%;
  margin: 0;
}

.light-red {
  background: $light-red;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-white {
  color: white;
}

.text-brownish-grey {
  color: $brownish-grey;
}

.center {
  display: grid;
  justify-items: center;
}

.mt-15 {
  margin-top: 1rem;
}

.text-light-red {
  color: $light-red;
}

.light {
  font-weight: 300;
}

.bg-white {
  color: white;
  padding-block: 2rem;
}

.text-gray {
  color: $darker-grey;
}

/** HOW IT WORKS **/

.image-grid {
  display: grid;
  justify-content: center;
  gap: 20px;

  .step {
    margin: 0;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 18.75rem;
    height: 15rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }

    .step_image {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .step_text {
      position: absolute;
      padding-inline: 1.2rem;
      display: grid;
      gap: 0.8rem;

      h3,
      p {
        text-align: start;
      }
    }
  }
}

.step-pill {
  background-color: $light-red;
  padding-inline: 0.8rem;
  padding-block: 0.2rem;
  border-radius: 2.5rem;
  max-width: max-content;
  font-family: "Montserrat";
  font-size: 0.6rem;
}

.partners-grid {
  display: grid;
  justify-content: center;
  margin-top: 1rem;

  .partner {
    display: grid;
    justify-content: center;
    gap: 0.6rem;
    margin-inline: 0.5rem;
    padding: 1rem;

    h3,
    p {
      font-size: 0.8rem;
      color: $darker-grey;
    }

    img {
      margin: auto;
      width: 7rem;
    }
  }
}

.btn-patterns {
  color: $light-red;
  background-color: transparent;
  border: 2px solid;
  width: 100%;
  margin-top: 2.8rem;
  text-align: start;
  padding-left: 1.4rem;
  max-width: max-content;
}

.partners {
  display: grid;
  justify-items: center;
}

.activities-grid {
  display: grid;
  padding-inline: 1rem;
  justify-content: center;

  .activity {
    margin: 0;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 18.75rem;
    height: 7.5rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }

    img {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 40%;
    }

    .couple {
      object-position: 100% 0;
    }

    .activity-text {
      position: absolute;
      padding-inline: 1.2rem;
      display: grid;
      gap: 0.8rem;
    }
  }
}
.grid {
  display: grid;
  padding: 3rem;
}

.interest-input {
  display: flex;
  justify-self: center;
  border: 1px solid #d4d4d4;
  border-radius: 0.2rem;
  padding-block: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 8rem;
  width: 100%;
  max-width: max-content;
  color: #999999;
  margin-top: 1rem;
}

footer {
  padding-block: 2rem;
  border-top: 2px solid $light-red;
  .light {
    margin-block: 1rem;
  }
  .footer-grid {
    display: grid;
    gap: 1rem;
    h3 {
      font-size: 0.8rem;
      color: $darker-grey;
    }
    .logo {
      color: $light-red;
      font-size: 1rem;
    }
    .grid {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-items: center;
      margin-top: 1rem;
      margin-top: 0.5rem;
      padding: 0;
      padding-inline: 2rem;
      p {
        padding: 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        color: $darker-grey;
      }

      a {
        text-decoration: none;
        color: #999999;
      }
    }

    .grid-2 {
      .title {
        font-weight: bold;
      }
      display: grid;
      justify-content: center;
      width: 100%;
      gap: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .how-it-works {
    display: grid;
    justify-content: center;
    .image-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-content: center;
      align-content: center;
      width: 100%;
      .step {
        width: 14.75rem;
        height: 25rem;
      }
    }
  }
  .partners-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .partner {
      display: grid;
      justify-content: center;
      gap: 0.6rem;
      margin-inline: 0.5rem;
      padding: 1rem;

      img {
        margin: auto;
      }
      h3 {
        color: $darker-grey;
      }

      p {
        color: $darker-grey;
          padding-inline: 15%;
        
      }
    }
  }
  .btn-patterns {
    color: $light-red;
    background-color: transparent;
    border: 2px solid;
    width: 100%;
    margin-top: 2.8rem;
    text-align: center;
    padding-inline: 5rem;
    max-width: max-content;
  }

  .activities-section {
    display: grid;
    justify-items: center;
  }
  .activities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 15rem);
    grid-gap: 10px;
    width: 100%;
    max-width: 55vw;
    margin-top: 2rem;

    .a1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100%;
      height: 100%;
    }
    .a2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100%;
      height: 100%;
    }
    .a3 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100%;
      height: 100%;
    }
    .a4 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 100%;
      height: 100%;
    }
    .a5 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 100%;
      height: 100%;
    }
    .a6 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 100%;
      height: 100%;
    }
    .a7 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 100%;
      height: 100%;
    }
  }

  .search-patterns-box {
    display: flex;
    gap: 2rem;
    justify-self: center;
    width: max-content;
    .search-patterns {
      max-width: 100%;
    }
  }

  .holiday-activity {
    gap: 1rem;
  }

  footer {
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .grid,
      .grid-2,
      .grid-3 {
        display: grid;
        justify-items: center;
        align-content: start;
        padding: 0;
        h3 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .how-it-works {
    h3 {
      margin-block: 2rem;
    }
    .image-grid {
      .step {
        width: 18.75rem;
        height: 25rem;
      }
    }
  }

  .partners-grid {
    grid-template-columns: repeat(4, minmax(0, 0.5fr));
    max-width: max-content;
    
  }

  .activities-grid {
    grid-template-rows: repeat(3, 20rem);
  }
}
