@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
@import "./sections/_banner.scss", "./text/_headings.scss",
  "./components/_buttons.scss", "./sections/how_it_works",
  "./sections/_partners", "./sections/holiday_activities", "./sections/footer";

@import "./variables/variables";

body,
html {
  height: 100%;
  margin: 0;
}

.light-red {
  background: $light-red;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-white {
  color: white;
}

.text-brownish-grey {
  color: $brownish-grey;
}

.center {
  display: grid;
  justify-items: center;
}

.mt-15 {
  margin-top: 1rem;
}

.text-light-red {
  color: $light-red;
}

.light {
  font-weight: 300;
}

.bg-white {
  color: white;
  padding-block: 2rem;
}

.text-gray {
  color: $darker-grey;
}


.grid {
  display: grid;
  padding: 3rem;
}
