@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
$light-red: #ff4e50;
$darker-grey: #444444;
$aqua: #19d4ca;
$yellowish-orange: #ffa710;
$cornflower: #667df3;
$white: #ffffff;
$brownish-grey: #666666;
$verylight-grey: #f7f3f2;
$verylight-pink: #e3e3e3;

body,
html {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Montserrat";
  size: 3.2rem;
  text-align: center;
}

h2 {
  margin: 0;
  font-family: "Roboto";
  size: 1.5rem;
  text-align: center;
}

h3 {
  margin: 0;
  font-family: "Montserrat";
  size: 1.4rem;
  text-align: center;
}

p {
  margin: 0;
  font-family: "Roboto";
  size: 1.2rem;
  text-align: center;
}

.btn {
  border: none;
  color: $white;
  font-family: Montserrat;
  font-size: 0.8rem;
  padding-inline: 47px;
  padding-block: 9.3px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.light-red {
  background: $light-red;
}

.login {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
}

.signup {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: $white;
  border: 2px solid;
}

.banner {
  background-image: url("/assets/images/backgroundBitmap.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin: 0;
  display: grid;
  align-content: center;
  justify-items: center;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-white {
  color: $white;
}

.text-brownish-grey {
  color: $brownish-grey;
}

.center {
  display: grid;
  justify-items: center;
}

.mt-15 {
  margin-top: 1rem;
}

.user-buttons {
  position: absolute;
  margin-top: 1.2rem;
}

.bg-white {
  color: $white;
  padding-block: 2rem;
}

.text-gray {
  color: $darker-grey;
}

.image-grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .step {
    margin: 0;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 18.75rem;
    height: 15rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }

    .step_image {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .step_text {
      position: absolute;
      padding-inline: 1.2rem;
      display: grid;
      gap: 0.8rem;

      h3,
      p {
        text-align: start;
      }
    }
  }
}

.step-pill {
  background-color: $light-red;
  padding-inline: 0.8rem;
  padding-block: 0.2rem;
  border-radius: 2.5rem;
  max-width: max-content;
  font-family: "Montserrat";
}




.partners-grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;

  .partner {
    display: grid;
    justify-content: center;
    gap: 0.6rem;
    margin-inline: 0.5rem;
    padding: 1rem;

    img {
      margin: auto;
    }
    h3 {
      color: $darker-grey;
    }

    p {
      color: $darker-grey;
    }
  }
}

.btn-patterns {
  color: $light-red;
  background-color: transparent;
  border: 2px solid;
  width: 100%;
  margin-top: 2.8rem;
  text-align: start;
  padding-left: 1.4rem;
}

.partners {
  padding-inline: 0.7rem;
}

.activities-grid {
  display: grid;
  padding-inline: 1rem;
  justify-content: center;

  .activity {
    margin: 0;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 18.75rem;
    height: 7.5rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }

    img {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position:  100% 40%;
    }

    .couple {
      object-position: 100% 0;

    }

    .activity-text {
      position: absolute;
      padding-inline: 1.2rem;
      display: grid;
      gap: 0.8rem;
    }
  }
}
.grid {
  display: grid;
  padding: 1.2rem;
}
.interest-input {
  display: flex;
  justify-self: center;
  border: 1 solid;
  border-radius: 0.2rem;
  padding-block: 0.6rem;
  padding-left: 0.6rem;
  width: 100%;
  color: #999999;
}